* {
  font-family: Roboto, Oxygen, Ubuntu, sans-serif;
}

body {
  margin: 0;
  display: flex;
  flex-flow: column;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #F9FAF8;
  background-color: #1F2937;
  padding: 16px;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row;
  gap: 24px;
}

.header {
  font-weight: 900;
  font-size: 24px;
}