* {
  font-family: Roboto, Oxygen, Ubuntu, sans-serif;
  box-sizing: border-box;
  border: 1px red solid;
}

body {
  margin: 0;
  display: flex;
  flex-flow: column;
}

.navbar .links,
.header,
.title,
img {
  width: 470px;
  flex-shrink: 0;
}

.navbar,
.title-container {
  gap: 48px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F2937;
  padding: 16px;
}

.header {
  color: #F9FAF8;
  font-weight: 900;
  font-size: 24px;
}

.navbar .links {
  color: #E5E7EB;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row;
  gap: 24px;
  justify-content: flex-end; 
}

.title-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  padding: 120px;
  background-color: #1F2937;
}

.title {
  width: 470px;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  gap: 8px;
}

.title-text {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
}

.subtext {
  font-size: 18px;
  color: #E5E7EB;
}

.chungus  {
  height: 240px;
}

button.signup {
  background: royalblue;
  border: 1px solid royalblue;
  color: #F9FAF8;
  font-weight: bold;
  font-size: 18px;
  padding: 8px 32px;
  border-radius: 10px;
}

.infoheader {
  font-size: 36px;
  font-weight: 800;
  padding: 48px;
  color: #1F2937;
}

.infoheader,
.cards, 
.subtexts {
  display: flex;
  justify-content: center;
  gap: 48px;
}

.cards img,
.subtexts div {
  width: 160px; 
  
}

.cards img {
  border-radius: 10px;
  margin-bottom: 8px;
}

.subtexts div {
  text-align: center;
  margin-bottom: 96px;
}

.quote-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 120px;
  background-color: #E5E7EB;
}

.quote {
  width: 784px;
  display: flex;
  color: #1F2937;
  font-style: italic;
  font-size: 36px;
}

.quote-name {
  width: 784px;
  display: flex;
  justify-content: flex-end;
  font-size: 24px;
  font-weight: bold;
}

